{% extends 'layout.njk' %}

{% set pageName='Find company' %}

{% block page_content %}
	<form action="/timeline/search/">
		<label for="name">Company name:</label>
		<input type="text" id="name" name="name">
		<input type="submit" value="Search">
	</form>
{% endblock %}